@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --bright-color: #f2fcfc;
    --dark-gray: #141414;
    --normal-gray: #1a1a1a;
    --white-gray: #a3a3a3;
    --dark-green: #173125;
    --white-green: #12C971;
    --white-brown: #F0B595;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 200px 0px 100px;
}

.projectsContainer {
    text-align: center;
    width: 80%;
    max-width: 1000px;
}
.projectsContainer h2 {
    color: var(--bright-color);
    font-size: 50px;
    font-weight: 300;
    display: flex;
    align-items: flex-start;
    margin: 0px 0px 100px;
}
.cardsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin-top: 20px;
}

.cards:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-image: url(./Assets/Delicacy.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 350px;
    text-align: center;
    transition: 1s;
}
.cards:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-image: url(./Assets/dashboardWhiteTheme.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 350px;
    text-align: center;
    transition: 1s;
}
.cards:nth-child(1):hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.267);
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center;
}
.cards:nth-child(2):hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.267);
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: center;
}
.cards:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-image: url(./Assets/Login\ form.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 350px;
    text-align: center;
    transition: 1s;
}
.cards:nth-child(3):hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.267);
    background-size: 550px;
    background-repeat: no-repeat;
    background-position: center;
}
.infoHover {
    background-color: var(--normal-gray);
    width: 300px;
    height: 100px;
    padding: 15px 10px 20px 10px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    transition: 0.3s;
}
.infoHover:hover {
    height: 120px;
    padding-top: 20px;
}
.infoHover p {
    color: var(--white-gray);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.infoHover h2 {
    font-weight: 400;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bright-color);
    margin: 5px 0px;
}
.infoHover a {
    text-decoration: none;
    color: var(--white-brown);
    transition: color 0.3s;
}

.infoHover a:hover {
    color: #0056b3;
}