@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --bright-color: #f2fcfc;
    --dark-gray: #141414;
    --normal-gray: #1a1a1a;
    --white-gray: #a3a3a3;
    --dark-green: #173125;
    --white-green: #12C971;
    --white-brown: #F0B595;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 200px 0px 100px;
}

.projectsContainer {
    text-align: center;
    width: 80%;
    max-width: 1000px;
    margin-bottom: 250px;
}
.projectsContainer h2 {
    color: var(--bright-color);
    font-size: 50px;
    font-weight: 300;
    display: flex;
    align-items: flex-start;
    margin: 0px 0px 50px;
}
.cardsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin: 20px 0px 50px 0px;
}

.cards:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-image: url(./Assets/Delicacy.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 350px;
    text-align: center;
    transition: 1s;
}
.cards:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-image: url(./Assets/dashboardWhiteTheme.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 350px;
    text-align: center;
    transition: 1s;
}
.cards:nth-child(1):hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.267);
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center;
}
.cards:nth-child(2):hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.267);
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: center;
}
.cards:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-image: url(./Assets/Login\ form.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 350px;
    text-align: center;
    transition: 1s;
}
.cards:nth-child(3):hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.267);
    background-size: 550px;
    background-repeat: no-repeat;
    background-position: center;
}
.cards:nth-child(4) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-image: url(./Assets/To-do-List.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position: -30px;
    border-radius: 5px;
    height: 350px;
    text-align: center;
    transition: 1s;
}
.cards:nth-child(4):hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.267);
    background-repeat: no-repeat;
    background-position: center;
}
.cards:nth-child(5) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-image: url(./Assets/Portifolio.png);
    background-size: cover;
    background-position: 100% 0%;
    border-radius: 5px;
    height: 350px;
    text-align: center;
    transition: 2s;
}
.cards:nth-child(5):hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.267);
    background-position: 0% 100%;
}
.cards:nth-child(6) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-image: url(./Assets/To-do-List.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position: -30px;
    border-radius: 5px;
    height: 350px;
    text-align: center;
    transition: 1s;
    opacity: 0;
}
.cards:nth-child(6):hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.267);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
}
.infoHover {
    background-color: var(--normal-gray);
    width: 300px;
    height: 100px;
    padding: 15px 10px 20px 10px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    transition: 0.3s;
}
.infoHover:hover {
    height: 120px;
    padding-top: 20px;
}
.infoHover p {
    color: var(--white-gray);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.infoHover h2 {
    font-weight: 400;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bright-color);
    margin: 5px 0px;
}
.infoHover a {
    text-decoration: none;
    color: var(--white-brown);
    transition: color 0.3s;
}

.infoHover a:hover {
    color: #0056b3;
}

/* --------- About Me --------- */

.aboutContainer {
    display: flex;
    width: 1000px;
}
.aboutMe {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.aboutHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 150px;
}
.aboutHeader h2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--bright-color);
    width: 50%;
    font-size: 40px;
    font-weight: 400;
    font-family: Inter, sans-serif;
    letter-spacing: -3px;
}
.aboutHeader h2 span {
    color: var(--white-gray);
    width: 450px;
    margin-bottom: 60px;
}
.aboutHeader p {
    color: var(--white-gray);
    font-size: 18px;
    font-weight: 600;
    width: 700px;
    line-height: 1.8;
}
.aboutMyPicture {
    width: 210px;
    height: 210px;
    border-radius: 15px;
    background-image: url(./Assets/1717024859439.jpg);
    background-position: center;
    background-size: cover;
}
.aboutMain {
    display: flex;
    flex-direction: column;
}
.aboutServices {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.h2Service h2 {
    color: var(--bright-color);
    font-size: 30px;
    font-weight: 300;
}
.serviceContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    margin-bottom: 100px;
}
.serviceItem {
    color: var(--bright-color);
    background-color: #282828;
    padding: 25px 30px;
    width: 500px;
}
.serviceItem:nth-child(1) {
    border-top-left-radius: 20px;
}
.serviceItem:nth-child(2) {
    border-top-right-radius: 20px;
}
.serviceItem:nth-child(5) {
    border-bottom-left-radius: 20px;
}
.serviceItem:nth-child(6) {
    border-bottom-right-radius: 20px;
}

.skillsSection {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.h2Skill h2 {
    color: var(--bright-color);
    font-size: 30px;
    font-weight: 300;
}
.skillContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    margin-bottom: 200px;
}
.skillItem {
    background: #282828;
    padding: 25px 30px;
    color: var(--bright-color);
}
.skillItem:nth-child(1) {
    border-top-left-radius: 20px;
}
.skillItem:nth-child(2) {
    border-top-right-radius: 20px;
}
.skillItem:nth-child(7) {
    border-bottom-left-radius: 20px;
}
.skillItem:nth-child(8) {
    border-bottom-right-radius: 20px;
}
.skillItem img {
    height: 30px;
}
.flexInfo {
    display: flex;
    align-items: center;
    gap: 20px;
}
.skillItem:nth-child(5) img {
    height: 18px;
    margin-top: 6px;
}
.contactContainer {
    display: flex;
    flex-direction: column;
}
.contactHeader {
    display: flex;
    flex-direction: column;
}
.contactHeaderTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.contactHeaderTopIcons {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 30px;
}
.contactHeaderTop h2 {
    color: var(--bright-color);
    font-weight: 300;
    font-size: 50px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
}
.contactHeaderTopIcons a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-gray);
    text-decoration: none;
    transition: 0.3s;
    border-radius: 60px;
    padding: 8px 8px;
}
.contactHeaderTopIcons a:hover {
    color: var(--bright-color);
    text-decoration: none;
    background-color: #3b3b3b;
    border-radius: 60px;
    padding: 8px 8px;
}
.contactHeader p {
    color: var(--white-gray);
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
}
hr {
    border: none;
    background-color: #353535;
    height: 2px;
    margin: 10px 0px 50px 0px;
}
.contactMainTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    margin-bottom: 40px;
}
.contactMainTopEmail p:nth-child(1) {
    color: var(--bright-color);
    font-size: 18px;
    margin-bottom: 5px;
}
.contactMainTopEmail p:nth-child(2) {
    color: var(--white-gray);
    font-size: 16px;
}
.contactMainTopNumber p:nth-child(1) {
    color: var(--bright-color);
    font-size: 18px;
    margin-bottom: 5px;
}
.contactMainTopNumber p:nth-child(2) {
    color: var(--white-gray);
    font-size: 16px;
}
.contactMainButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-bottom: 120px;
}
.contactMainButtons button {
    border: 0.1px solid var(--white-gray);
    background-color: transparent;
    padding: 13px 25px;
    border-radius: 15px;
    color: var(--bright-color);
    font-family: 'Inter', sans-serif;
    transition: 0.3s;
    user-select: none;
    cursor: pointer;
}
.contactMainButtons button:hover {
    background-color: #1f1f1f;
}
.contactMainButtons a {
    padding: 12px 24px;
    background-color: var(--white-green);
    border-radius: 15px;
    text-decoration: none;
    color: var(--bright-color);
    transition: 0.3s;
}
.contactMainButtons a:hover {
    background-color: #0fa75e;
}
.contactInputsContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.contactInputsContainer h3 {
    color: var(--bright-color);
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    letter-spacing: -1px;
}
.inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.inputsTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.inputsTop input {
    width: 49%;
    padding: 20px 20px;
    border-radius: 10px;
    border: none;
    background-color: #292929;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}
.inputs textarea {
    border: none;
    background-color: #292929;
    height: 150px;
    border-radius: 10px;
    padding: 15px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}
.inputs button {
    background-color: var(--white-green);
    border: none;
    padding: 20px 20px;
    border-radius: 10px;
    color: var(--bright-color);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 100px;
    cursor: pointer;
    transition: 0.3s;
}
.inputs button:hover {
    background-color: #0baf60;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1000px;
}
footer hr {
    border: none;
    background-color: #353535;
    height: 1px;
    width: 100%;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 200px;
}
.footer p {
    color: var(--white-gray);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.footer p span {
    color: var(--bright-color);
    font-weight: 600;
}
.footer a {
    text-decoration: none;
    color: var(--white-green);
    transition: 0.3s;
}
.footer a:hover {
    color: #0ba058;
}