:root {
    --black-clr: #000000;
    --bright-color: #f2fcfc;
    --dark-gray: #141414;
    --normal-gray: #1a1a1a;
    --white-gray: #a3a3a3;
    --dark-green: #173125;
    --white-green: #12C971;
    --white-brown: #F0B595;
}


body.dark {
    background-color: #ffffff;
}
nav.dark {
    background-color: #ebebeb;
    box-shadow: 0px 0px 4px 0px #00000027;
}
.profile-info.dark {
    color: var(--dark-gray);
}
.homeLinks.dark a {
    color: var(--dark-gray);
}
.homeLinks.dark a span {
    font-weight: 500;
}
.homeLinks.dark a:hover {
    color: #535353;
}
.profile ion-icon.dark-background {
    background-color: #ebebeb;
    color: var(--dark-gray);
}
.menuFooter.dark {
    color: #797979;
}
.menuFooter.dark:hover {
    color: #575757;
}

/*----------HEADER THEME----------*/

.headerBody.dark h1 {
    color: var(--black-clr);
}
.location.dark p {
    color: #e2753b;
}
.roof.dark p {
    background-color: #12c9714b;
    color: #00802b;
}
.roof.dark ion-icon {
    color: var(--dark-gray);
    transition: 0.2s;
}
.roof.dark ion-icon:hover {
    color: #585858;
}

/*----------MAIN THEME----------*/

.projectsContainer.dark h2:nth-child(1) {
    color: var(--dark-gray);
}

.aboutInfoHeader.dark h2 {
    color: var(--dark-gray);
}
.h2Service.dark h2 {
    color: var(--dark-gray);
}
.serviceItem.dark {
    background-color: #dbdbdb88;
    color: var(--dark-gray);
}
.skillItem.dark {
    background-color: #dbdbdb88;
    color: var(--dark-gray);
}
.contactHeaderTop.dark h2 {
    color: var(--black-clr);
}
.contactMainTopEmail.dark p:nth-child(1) {
    color: var(--black-clr);
}
.contactMainTopNumber.dark p:nth-child(1) {
    color: var(--black-clr);
}
.contactMainButtons.dark button {
    border: 1px solid var(--black-clr);
    color: var(--black-clr);
}
.contactMainButtons.dark button:hover {
    background-color: #f0f0f0;
}
.inputsTop.dark input {
    background-color: #dbdbdb88;
}
.inputs.dark textarea {
    background-color: #dbdbdb88;
}
.contactInputsContainer.dark h3 {
    color: var(--black-clr);
}
.footer.dark p span {
    color: var(--black-clr);
}