/*----------LightTheme----------*/

:root {
    --bg-lightTheme: #f2fcfc;
}

/*----------DarkTheme----------*/

:root {
    --bg-DarkTheme: #1a1a1a;
    --dark-gray: #141414;
    --white-gray: #a3a3a3;
    --dark-green: #173125;
    --white-green: #12C971;
    --white-brown: #F0B595;
}



body.light {
    background-color: var(--bg-DarkTheme);
    color: var(--bg-lightTheme);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.profile-info.light {
    color: var(--dark-gray);
}
.nav.light {
    background-color: #f0f0f0;
    color: #333333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header.light {
    background-color: #ffffff;
    color: #333333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.main.light {
    background-color: #ffffff;
    color: #333333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.footer.light {
    background-color: #f0f0f0;
    color: #333333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menuFooter.light ion-icon {
    color: #333333;
    transition: color 0.3s ease;
}

/*----------LightTheme----------*/

body.dark {
    background-color: var(--bg-lightTheme);
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav.dark {
    background-color: #333333;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header.dark {
    background-color: #1a1a1a;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.main.dark {
    background-color: #1a1a1a;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.footer.dark {
    background-color: #333333;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menuFooter.dark ion-icon {
    color: #ffffff;
    transition: color 0.3s ease;
}