:root {
    --black-clr: #000000;
    --bright-color: #f2fcfc;
    --dark-gray: #141414;
    --normal-gray: #1a1a1a;
    --white-gray: #a3a3a3;
    --dark-green: #173125;
    --white-green: #12C971;
    --white-brown: #F0B595;
}


body.dark {
    background-color: var(--bright-color);
}
nav.dark {
    background-color: #c9c9c9;
    box-shadow: 0px 0px 24px 0px #00000027;
}
.profile-info.dark {
    color: var(--black-clr);
}
.homeLinks.dark a {
    color: var(--black-clr);
}
.homeLinks.dark a span {
    font-weight: 500;
}
.homeLinks.dark a:hover {
    color: #535353;
}
.profile ion-icon.dark-background {
    background-color: #c9c9c9;
    color: var(--black-clr);
}
.menuFooter.dark {
    color: #797979;
}
.menuFooter.dark:hover {
    color: #575757;
}